body {
    font-family: initial;
    background-color: rgb(71, 71, 71);
}

header{
    background-color: rgb(105, 105, 105);
    
}
header a{
    color: rgb(195, 242, 255) !important;
}
header .dropdown-menu{
    background-color:rgb(44, 44, 44) !important;
}

nav{
    padding: 0 !important;
}
main{
    margin-top: 10px;
}

.imagenesnav a {
    margin: 9px;
}

#divsup {
    background-color: rgb(44, 44, 44);
    color: rgb(157, 234, 255);
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 10px;
}

#divsup p {
    margin: 0 !important;
    font-weight: bold;
}

/**/
.criptocotizaciones p,
h1,
h5 {
    background-color: rgb(78, 78, 78);
    text-align: center;
    color: rgb(201, 201, 201);
    font-weight:lighter;
    border-radius: 50px;
}

.contCripto {
    padding: 1px;
}

.contCripto span{
    color: rgb(171, 217, 230);;
}

.contCripto img{
    width: 20px;
}

.contCripto p{ 
    margin: 0;
    margin-top: 10px;
    color: rgb(73, 216, 255);
}

#criptomain {
    background-color: rgb(44, 44, 44);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
footer{
    background-color: rgb(255, 255, 255);
}