body {
    background-color: #ffffff;
    font-family: initial;
}
/*
#divsup {
    background-color: gray;
    color: white;
    text-align: center;
} */


.imagenesnav a {
    margin: 9px;
}

main {
    padding: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(207, 207, 207);
}



/*
.imagenesnav{
    filter: invert(87%) sepia(62%) saturate(183%) hue-rotate(249deg) brightness(115%) contrast(101%);
}
*/

/*FOOTER*/
.fimg {
    margin: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#fdivimg {
    text-align: center;
}


.fcopy {
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    width: 25%;
}

table a {
    text-decoration: none;
    color: black;
}

/*  DIV INFERIOR DESLIZANTE */


#divsup {
    background-color: gray;
    color: white;
    text-align: center;
}
#divsup p{
    margin: 0 !important;
}
.carousel-inner { /* Evitar que los elementos se dividan en varias líneas */
    overflow: hidden; /* Ocultar el contenido que excede el contenedor */
  }