body {
    background-color: #ffffff;
    font-family: initial;
}

/*
#divsup {
    background-color: gray;
    color: white;
    text-align: center;
} */


.imagenesnav a {
    margin: 9px;
}

main {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(224, 224, 224);
}



/*
.imagenesnav{
    filter: invert(87%) sepia(62%) saturate(183%) hue-rotate(249deg) brightness(115%) contrast(101%);
}
*/

/*FOOTER*/
.fimg {
    margin: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#fdivimg {
    text-align: center;
}


.fcopy {
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    width: 25%;
    font-weight: normal;
}

table a {
    text-decoration: none;
    color: black;
}

/*  DIV INFERIOR DESLIZANTE */


#divsup {
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
}

#divsup p {
    margin: 0 !important;
}

/**/
.criptocotizaciones p,
h1,
h5 {
    background-color: rgb(78, 78, 78);
    text-align: center;
    color: rgb(201, 201, 201);
    font-weight: bold;
    border-radius: 100px;
}

.criptocotizaciones p {
    padding: 5px;
}

.contCripto {
    padding: 1px;
}

#criptomain {
    background-color: rgb(142, 142, 142);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}